# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  vuttr:
    image: felipekosouski/vuttr_api
    build: 
      context: ./Vuttr.API
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      VALID_AUDIENCE: "https://localhost:80"
      VALID_ISSUER: "VuttrAPI"
      JWT_EXPIRES: "60"
      SECRET: "VuttrAPISecretKey"
    ports:
      - "3000:80"

  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "your_password"
    ports:
      - "host_port:5432"
    restart: always